@font-face {
    font-family: 'iconfont';  /* project id 2518986 */
    src: url('https://at.alicdn.com/t/font_2518986_b3zggkrrrtp.eot');
    src: url('https://at.alicdn.com/t/font_2518986_b3zggkrrrtp.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_2518986_b3zggkrrrtp.woff2') format('woff2'),
    url('https://at.alicdn.com/t/font_2518986_b3zggkrrrtp.woff') format('woff'),
    url('https://at.alicdn.com/t/font_2518986_b3zggkrrrtp.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_2518986_b3zggkrrrtp.svg#iconfont') format('svg');
}

@font-face {
    font-family: 'iconfont';  /* Project id 1943843 */
    src: url('https://at.alicdn.com/t/c/font_1943843_nw6vt2rj4yk.woff2?t=1701588569972') format('woff2'),
    url('https://at.alicdn.com/t/c/font_1943843_nw6vt2rj4yk.woff?t=1701588569972') format('woff'),
    url('https://at.alicdn.com/t/c/font_1943843_nw6vt2rj4yk.ttf?t=1701588569972') format('truetype');
}

@font-face {
    font-family: 'iconfont';  /* Project id 2463261 */
    src: url('https://at.alicdn.com/t/c/font_2463261_3k2dncd9wz6.woff2?t=1678184630744') format('woff2'),
    url('https://at.alicdn.com/t/c/font_2463261_3k2dncd9wz6.woff?t=1678184630744') format('woff'),
    url('https://at.alicdn.com/t/c/font_2463261_3k2dncd9wz6.ttf?t=1678184630744') format('truetype');
}


.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "思源宋体 Heavy";font-weight: 900;src: url("https://at.alicdn.com/wf/webfont/T0dQfaixhl5O/kc2wpOuhW8vl.woff2") format("woff2"),
url("https://at.alicdn.com/wf/webfont/T0dQfaixhl5O/k4hs1OLBGJ4Z.woff") format("woff");font-variation-settings: normal;font-display: swap;
}

.siyuansongHeavy {
    font-family: "思源宋体 Heavy";font-variation-settings: normal; /* Chrome 140 以下版本需要 */}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "思源宋体 Bold";font-weight: 700;src: url("https://at.alicdn.com/wf/webfont/T0dQfaixhl5O/UoIiiPOtbQNx.woff2") format("woff2"),
url("https://at.alicdn.com/wf/webfont/T0dQfaixhl5O/QtvGCYw28vPI.woff") format("woff");font-variation-settings: normal;font-display: swap;
}

.siyuansongBold {
    font-family: "思源宋体 Bold";font-variation-settings: normal; /* Chrome 140 以下版本需要 */}
