pre.app-code {
    background-color: var(--code-background);
    margin: 0 0 1rem 0;
    padding: 0;
    border-radius: var(--content-border-radius);
    overflow: auto;

    code {
        color: var(--code-color);
        padding: 1rem;
        margin: 0;
        line-height: 1.5;
        display: block;
        font-weight: semibold;
        font-family: monaco, Consolas, monospace;
    }
}

.font-stretch-condensed {font-stretch: condensed;}
.font-stretch-extra-condensed {font-stretch: extra-condensed;}

.textwrap {
    white-space: pre-wrap; /* 保留换行符并自动换行 */
}

.border-btn {
    background: linear-gradient(75deg, #cab429 0%, #96b02f 10%, #2ca447 60%, #178898 100%);
    //border-radius: 24px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 32px;
    .sub-bg {
        //border-radius: 21px;
        border-top-left-radius: 29px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 29px;
        transition: all .3s ease;
    }
    .sub-bg:hover {
        background: linear-gradient(75deg, #cab429 0%, #96b02f 10%, #2ca447 60%, #178898 100%);
    }
}

.border-btn2 {
    background: linear-gradient(90deg, #00b364 0, #003c9f 49.94%, #00007d 100%);
    border-radius: 24px;
    .sub-bg {
        border-radius: 21px;
        transition: all .3s ease;
    }
    .sub-bg:hover {
        background: linear-gradient(90deg, #00b364 0, #003c9f 49.94%, #00007d 100%);
    }
}

.jb-bg-0 {
    background: linear-gradient(90deg, #00b364 0, #003c9f 49.94%, #00007d 100%);
}
