:root {
    --title-text-bg1:var(--p-title-text-bg1,#e28e44);
    --title-text-bg2:var(--p-title-text-bg2,#62a718);
    --title-text-bg3:var(--p-title-text-bg3,#1d7b41);
}

.title-text {
    @apply text-2xl text-gray-800 font-semibold;
}

.title-css {
    @apply h-12 w-2;
    background: linear-gradient(180deg, #e28e44 0% 25%, #62a718 25% 50%, #1d7b41 50% 100%);
}

.bggradient1 {
    background: linear-gradient(45deg, #1d75a4, #2da75c, #f2923f)
}

.gradient-btn {
    cursor: pointer;
    background: linear-gradient(75deg, #cab429 0%, #96b02f 10%, #2ca447 60%, #178898 100%);
    //border-radius: 24px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 32px;
    .sub-bg {
        //border-radius: 21px;
        border-top-left-radius: 29px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 29px;
        transition: all .3s ease;
        background: linear-gradient(75deg, #cab429 0%, #96b02f 10%, #2ca447 60%, #178898 100%);
    }
}

.border-btn {
    cursor: pointer;
    background: linear-gradient(75deg, #cab429 0%, #96b02f 10%, #2ca447 60%, #178898 100%);
    //border-radius: 24px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 32px;
    .sub-bg {
        //border-radius: 21px;
        border-top-left-radius: 29px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 29px;
        transition: all .3s ease;
    }
    .sub-bg:hover {
        background: linear-gradient(75deg, #cab429 0%, #96b02f 10%, #2ca447 60%, #178898 100%);
    }
}

.judge-card-foot-bg {
    background: linear-gradient(45deg, #1d75a4, #2da75c, #f2923f);
    @apply h-32;
}
