@font-face {
  font-family: "iconfont"; /* Project id 4875635 */
  /* Color fonts */
  src: 
       url('https://at.alicdn.com/t/c/font_4875635_9wiiqvibayi.woff2?t=1743339600293') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4875635_9wiiqvibayi.woff?t=1743339600293') format('woff'),
       url('https://at.alicdn.com/t/c/font_4875635_9wiiqvibayi.ttf?t=1743339600293') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wanshang:before {
  content: "\e600";
}

.icon-baitian-qing:before {
  content: "\e672";
}

.icon-wanshang1:before {
  content: "\e718";
}

.icon-wanshang2:before {
  content: "\e655";
}

.icon-icon_wanshang:before {
  content: "\e616";
}

.icon-qingbaitian:before {
  content: "\e6ed";
}

.icon-ziyuan:before {
  content: "\e614";
}

.icon-dawuwanshang:before {
  content: "\e603";
}

.icon-baitian:before {
  content: "\e61f";
}

.icon-a-yueliangwanshang:before {
  content: "\e8b4";
}

.icon-tianchongxing-:before {
  content: "\e637";
}

.icon-power:before {
  content: "\e714";
}

.icon-a-kaiguanshezhi:before {
  content: "\e7ec";
}

.icon-a-gettingstarted:before {
  content: "\e858";
}

